.container {
    padding: 2rem;
}

.title {
    text-align: center;
}

.search {
    width: fit-content;
    margin: 0 auto 16px auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 8px;
}

.photosContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 16px;
}

.photo {
    border-radius: 4px;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}
